interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://storage.googleapis.com/cfo-public/vegetation/collection.json
  response:
    body:
      string: "{\n  \"type\": \"Collection\",\n  \"id\": \"vegetation\",\n  \"stac_version\":
        \"1.0.0\",\n  \"description\": \"Patterns of forest structure and forest fuels
        that drive wildfire behavior. Read more at https://the.forestobservatory.com/data\",\n
        \ \"links\": [\n    {\n      \"rel\": \"root\",\n      \"href\": \"https://storage.googleapis.com/cfo-public/catalog.json\",\n
        \     \"type\": \"application/json\"\n    },\n    {\n      \"rel\": \"item\",\n
        \     \"href\": \"https://storage.googleapis.com/cfo-public/vegetation/California-Vegetation-CanopyBaseHeight-2016-Summer-00010m.json\",\n
        \     \"type\": \"application/json\"\n    },\n    {\n      \"rel\": \"item\",\n
        \     \"href\": \"https://storage.googleapis.com/cfo-public/vegetation/California-Vegetation-CanopyBaseHei[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1
  response:
    body:
      string: '{"type":"Catalog","id":"microsoft-pc","title":"Microsoft Planetary
        Computer STAC API","description":"Searchable spatiotemporal metadata describing
        Earth science datasets hosted by the Microsoft Planetary Computer","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.1/collections","https://api.stacspec.org/v1.0.0-rc.1/core","https://api.stacspec.org/v1.0.0-rc.1/item-search","https://api.stacspec.org/v1.0.0-rc.1/item-search#fields","https://api.stacspec.org/v1.0.0-rc.1/ite[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earth-search.aws.element84.com/v0
  response:
    body:
      string: '{"stac_version":"1.0.0-beta.2","stac_api_version":"0.9.0","id":"earth-search","title":"Earth
        Search","description":"A STAC API of AWS Public Datasets powered by stac-server","links":[{"rel":"child","href":"https://earth-search.aws.element84.com/v0/collections/sentinel-s2-l2a"},{"rel":"child","href":"https://earth-search.aws.element84.com/v0/collections/sentinel-s2-l1c"},{"rel":"child","href":"https://earth-search.aws.element84.com/v0/collections/sentinel-s2-l2a-cogs"},{"rel":"child","href":"https://earth-search.aws.element84.com/v0/collections/landsat-8-l1-c1"},{"rel":"service-desc","type":"application/vnd.oai.openapi+json;version=3.0","href":"https://earth-search.aws.element84.com/v0/api"},{"rel":"conformance","type":"application/json","href":"https://earth-search.aws.element84.com/v0/conformance"},{"rel":"children","type":"application/json","href":"https://earth-search.aws.element84.com/v0/collections"},{"rel":"self","type":"application/json","href":"https://earth-search.aws.element84.com/v0/"},{"rel":"search","type":"application/json","href":"https://earth-search.aws.element84.com/v0/search"},{"rel":"docs","href":"https://stac-utils.github.io/stac-server/"}]}'
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - Ay0oOFtsPHcFwwg=
      x-amzn-RequestId:
      - 66448135-50e5-4398-9673-839ecea6c38c
    status:
      code: 200
      message: OK
    url: https://earth-search.aws.element84.com/v0
- request:
    body: null
    headers:
    method: GET
    uri: https://api.radiant.earth/mlhub/v1
  response:
    body:
      string: '{"type":"Catalog","id":"stac-fastapi","title":"Radiant MLHub API","description":"stac-fastapi","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","https://api.stacspec.org/v1.0.0-beta.3/it[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://nasa-iserv.s3-us-west-2.amazonaws.com/catalog/catalog.json
  response:
    body:
      string: '{"stac_version": "1.0.0-beta.2", "id": "nasa_iserv", "providers": [{"name":
        "SERVIR", "url": "http://www.nasa.gov/mission_pages/servir/index.html", "roles":
        ["producer", "licensor"]}, {"name": "Radiant Earth Foundation", "url": "https://www.radiant.earth/",
        "roles": ["processor", "host"]}], "description": "\n# ISS SERVIR Environmental
        Research and Visualization System (ISERV) Level-0 Product\n\n## Introduction\n\nThese
        products were created at the ISERV Science Operation Center (SOC) at\nthe
        National Space Science and Technology Center.\n\nISERV is an automated system
        designed to acquire images of the[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"id":"UKESM1-0-LL.ssp585.2100","bbox":[-180,-90,180,90],"type":"Feature","links":[{"rel":"collection","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/nasa-nex-gddp-cmip6"},{"rel":"parent","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/nasa-nex-gddp-cmip6"},{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/geo+json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/collections/nasa-nex-gddp-cmip6/items/UKESM1-0-LL.ssp585.2100"}],"assets":{"pr":{"href":"https://nasagddp.blob.core.windows.net/nex-gddp-cmip6/NEX/GDDP-CMIP6/UKESM1-0-LL/ssp585/r1i1p1f2/pr/pr_day_UKESM1-0-LL_ssp585_r1i1p1f2_gn_2100.nc","cmip6:variable":"pr","type":"application/netcdf","roles":["data"]},"tas":{"href":"https://nasagddp.blob.core.windows.net/nex-gddp-cmip6/NEX/GDDP-CMIP6/UKESM1-0-LL/ssp585/r1i1p1f2/tas/tas_day_UKESM1-0-LL_ssp585_r1i1p1f2_gn_2100.nc","cmip6:variable":"tas","type":"application/netcdf","roles":["data"]},"hurs":{"href":"https://nasagddp.blob.core.windows.net/nex-gddp-cmip6/NEX/GDDP-CMIP6/UKESM1-0-LL/ssp585/r1i1p1f2/hurs/hurs_day_UKESM1-0-LL_ssp585_r1i1p1f2_gn_2100.nc","cmip6:variable":"hurs","type":"application/netcdf","roles":["data"]},"huss":{"href":"https://nasagddp.blob.core.windows.net/nex-gddp-cmip6/NEX/GDDP-CMIP6/UKESM1-0-LL/ssp585/r1i1p1f2/huss/huss_day_UKESM1-0-LL_ssp585_r1i1p1f2_gn_2100.nc","cmip6:variable":"huss","type":"application/netcdf","roles":["data"]},"rlds":{"href":"https://nasagddp.blob.core.windows.net/nex-gddp-cmip6/NEX/GDDP-CMIP6/UKESM1-0-LL/ssp585/r1i1p1f2/rlds/rlds_day_UKESM1-0-LL_ssp585_r1i1p1f2_gn_2100.nc","cmip6:variable":"rlds","type":"application/netcdf","roles":["data"]},"rsds":{"href":"https://nasagddp.blob.core.windows.net/nex-gddp-cmip6/NEX/GDDP-CMIP6/UKESM1-0-LL/ssp585/r1i1p1f2/rsds/rsds_day_UKESM1-0-LL_ssp585_r1i1p1f2_gn_2100.nc","cmip6:variable":"rsds","type":"application/netcdf","roles":["data"]},"tasmax":{"href":"https://nasagddp.blob.core.windows.net/nex-gddp-cmip6/NEX/GDDP-CMIP6/UKESM1-0-LL/ssp585/r1i1p1f2/tasmax/tasmax_day_UKESM1-0-LL_ssp585_r1i1p1f2_gn_2100.nc","cmip6:variable":"tasmax","type":"application/netcdf","roles":["data"]},"tasmin":{"href":"https://nasagddp.blob.core.windows.net/nex-gddp-cmip6/NEX/GDDP-CMIP6/UKESM1-0-LL/ssp585/r1i1p1f2/tasmin/tasmin_day_UKESM1-0-LL_ssp585_r1i1p1f2_gn_2100.nc","cmip6:variable":"tasmin","type":"application/netcdf","roles":["data"]},"sfcWind":{"href":"https://nasagddp.blob.core.windows.net/nex-gddp-cmip6/NEX/GDDP-CMIP6/UKESM1-0-LL/ssp585/r1i1p1f2/sfcWind/sfcWind_day_UKESM1-0-LL_ssp585_r1i1p1f2_gn_2100.nc","cmip6:variable":"sfcWind","type":"application/netcdf","roles":["data"]}},"geometry":{"type":"Polygon","coordinates":[[[180,-90],[180,90],[-180,90],[-180,-90],[180,-90]]]},"collection":"nasa-nex-gddp-cmip6","properties":{"datetime":null,"cmip6:year":2100,"cmip6:model":"UKESM1-0-LL","end_datetime":"2100-12-30T12:00:00Z","cmip6:scenario":"ssp585","cube:variables":{"pr":{"type":"data","unit":"kg
        m-2 s-1","attrs":{"units":"kg m-2 s-1","comment":"includes both liquid and
        solid phases","long_name":"Precipitation","cell_methods":"area: time: mean","cell_measures":"area:
        areacella","original_name":"mo: (stash: m01s05i216, lbproc: 128)","standard_name":"precipitation_flux"},"shape":[360,600,1440],"dimensions":["time","lat","lon"],"description":"Precipitation"},"tas":{"type":"data","unit":"K","attrs":{"units":"K","comment":"near-surface
        (usually, 2 meter) air temperature; derived from downscaled tasmax & tasmin","long_name":"Daily
        Near-Surface Air Temperature","cell_methods":"area: mean time: maximum","cell_measures":"area:
        areacella","original_name":"mo: (stash: m01s03i236, lbproc: 8192)","standard_name":"air_temperature"},"shape":[360,600,1440],"dimensions":["time","lat","lon"],"description":"Daily
        Near-Surface Air Temperature"},"hurs":{"type":"data","unit":"%","attrs":{"units":"%","comment":"The
        relative humidity with respect to liquid water for T> 0 C, and with respect
        to ice for T<0 C.","long_name":"Near-Surface Relative Humidity","cell_methods":"area:
        time: mean","cell_measures":"area: areacella","original_name":"mo: (stash:
        m01s03i245, lbproc: 128)","standard_name":"relative_humidity"},"shape":[360,600,1440],"dimensions":["time","lat","lon"],"description":"Near-Surface
        Relative Humidity"},"huss":{"type":"data","unit":"1","attrs":{"units":"1","comment":"Near-surface
        (usually, 2 meter) specific humidity.","long_name":"Near-Surface Specific
        Humidity","cell_methods":"area: time: mean","cell_measures":"area: areacella",[...]
