interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://storage.googleapis.com/cfo-public/vegetation/collection.json
  response:
    body:
      string: "{\n  \"type\": \"Collection\",\n  \"id\": \"vegetation\",\n  \"stac_version\":
        \"1.0.0\",\n  \"description\": \"Patterns of forest structure and forest fuels
        that drive wildfire behavior. Read more at https://the.forestobservatory.com/data\",\n
        \ \"links\": [\n    {\n      \"rel\": \"root\",\n      \"href\": \"https://storage.googleapis.com/cfo-public/catalog.json\",\n
        \     \"type\": \"application/json\"\n    },\n    {\n      \"rel\": \"item\",\n
        \     \"href\": \"https://storage.googleapis.com/cfo-public/vegetation/California-Vegetation-CanopyBaseHeight-2016-Summer-00010m.json\",\n
        \     \"type\": \"application/json\"\n    },\n    {\n      \"rel\": \"item\",\n
        \     \"href\": \"https://storage.googleapis.com/cfo-public/vegetation/California-Vegetation-CanopyBaseHei[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://nasa-iserv.s3-us-west-2.amazonaws.com/catalog/catalog.json
  response:
    body:
      string: '{"stac_version": "1.0.0-beta.2", "id": "nasa_iserv", "providers": [{"name":
        "SERVIR", "url": "http://www.nasa.gov/mission_pages/servir/index.html", "roles":
        ["producer", "licensor"]}, {"name": "Radiant Earth Foundation", "url": "https://www.radiant.earth/",
        "roles": ["processor", "host"]}], "description": "\n# ISS SERVIR Environmental
        Research and Visualization System (ISERV) Level-0 Product\n\n## Introduction\n\nThese
        products were created at the ISERV Science Operation Center (SOC) at\nthe
        National Space Science and Technology Center.\n\nISERV is an automated system
        designed to acquire images of the[...]
