interactions:
- request:
    body: null
    headers: {}
    method: POST
    uri: https://planetarycomputer.microsoft.com/api/stac/v1/search
  response:
    body:
      string: '{"type":"FeatureCollection","features":[],"links":[{"rel":"root","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/"},{"rel":"self","type":"application/json","href":"https://planetarycomputer.microsoft.com/api/stac/v1/search"}]}'
    headers:
      Content-Type:
      - application/geo+json
    status:
      code: 200
      message: OK
    url: https://planetarycomputer.microsoft.com/api/stac/v1/search
version: 1
