interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://storage.googleapis.com/cfo-public/vegetation/collection.json
  response:
    body:
      string: "{\n  \"type\": \"Collection\",\n  \"id\": \"vegetation\",\n  \"stac_version\":
        \"1.0.0\",\n  \"description\": \"Patterns of forest structure and forest fuels
        that drive wildfire behavior. Read more at https://the.forestobservatory.com/data\",\n
        \ \"links\": [\n    {\n      \"rel\": \"root\",\n      \"href\": \"https://storage.googleapis.com/cfo-public/catalog.json\",\n
        \     \"type\": \"application/json\"\n    },\n    {\n      \"rel\": \"item\",\n
        \     \"href\": \"https://storage.googleapis.com/cfo-public/vegetation/California-Vegetation-CanopyBaseHeight-2016-Summer-00010m.json\",\n
        \     \"type\": \"application/json\"\n    },\n    {\n      \"rel\": \"item\",\n
        \     \"href\": \"https://storage.googleapis.com/cfo-public/vegetation/California-Vegetation-CanopyBaseHei[...]
